header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background-color: #000;
}
.home {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    margin-left: 70px;
}
.filmes{
    padding: 5px 24px;
    margin-right: 100px;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    font-weight: 600;
}