header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background-color: #000;
}
.home {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    margin-left: 70px;
}
.filmes{
    padding: 5px 24px;
    margin-right: 100px;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    font-weight: 600;
}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .home {
        font-size: 20px;
        margin-left: 20px;
    } 
    .filmes{
        margin-right: 20px;
    }
}